@import "../../common.scss";

.box {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-color: $themeColor4;
    box-shadow: $shadowColor6;
    @include flex-y-center-center;
    cursor: pointer;

    &:hover {
        box-shadow: $shadowHoverColor6;
    }

    h1 {
        font-size: $fontSize8;
        color: $fontColor1;
    }
    
}