@import "../../common.scss";

.box {
    padding: 10px;
    // background-color: 0 0 20px rgba(240, 194, 168, .1);
    background-color: $themeColor1;
    box-shadow: 0 0 10px rgba(240, 194, 168, .5);
            // box-shadow: $shadowColor6;
    text-align: center;
    cursor: pointer;
    @include flex-x-center-center;
    backdrop-filter: blur(10px);

}