@import "./common.scss";
body, p, h1, h2, h3, ul, ol, section, main {
  margin: 0;
  padding: 0;
  transition: all .3s;
}
*:hover {
  transition: all .3s;
}
::selection {
  background-color: $themeColor5;
  color: $themeColor6;
}
body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $themeColor6;
}
a {
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: normal;
}
ul li {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}