@import "../../../common.scss";

dl {
    padding: 0px 15%;
    color: $fontColor1;
    line-height: 2em;

    dt {
        font-size: $fontSize7;
        margin-top: 20px;
    }
    dd {
        font-size: $fontSize3;
        ul, ol {
            padding-left: 4%;
        }
        ul > li {
            list-style-type: disc;
        }
        img {
            display: block;
            margin: auto;
            object-fit: cover;
        }
    }
    a {
        color: $themeColor5;
        text-decoration: underline;
    }
}